/* VARIABLES */
  $info-color:#275fcf;
  $bar-color:#b84ca6;

/* OBJECTS */
%person-content{
  width: 45%;
  height: 70%;
  .photo{
  .person-img{
  width: 100%;
  }
  background-color: #384155;
  width: 20em;
  height: 100%;
  }
  .personal-info{
  background-color: $info-color;
  width: 40em;
  height: auto;
  }
  .personal-bar{
  position: absolute;
  align-self: flex-end;
  flex-direction: row;
  background-color: $bar-color;
  width: 100em;
  height: 5%;
  }
}

%person-one{
  .person-one{
  background-color: #1b2b4b;
  display: flex;
  margin: 0 0 10% 0;
  flex-direction: row-reverse;
  @extend %person-content;
}
}

%person-two{
  .person-two{
  display: flex;
  margin: 10% 0 0 0;
  background-color: #394f7a;
  @extend %person-content;
}
}


/* ************************************* */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* *************** MAIN ******************* */
main {
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0 5em 0 5em;

  /* PERSONAL JESUS */

  .personal-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #61dafb;
    @extend %person-one;
    @extend %person-two;
    .logotype{
      width: 10%;
      display: flex;
      background-color: pink;
      justify-self: center;
      justify-content: center;
      align-self: center;

    }

  }

  /* FOOTER */

  .footer{
    display: flex;
    border-style: solid;
    border-color: #1f5cd6;
  }






}

