/* VARIABLES */
/* OBJECTS */
main .personal-container .person-one, main .personal-container .person-two {
  width: 45%;
  height: 70%;
}

main .personal-container .person-one .photo, main .personal-container .person-two .photo {
  background-color: #384155;
  width: 20em;
  height: 100%;
}

main .personal-container .person-one .photo .person-img, main .personal-container .person-two .photo .person-img {
  width: 100%;
}

main .personal-container .person-one .personal-info, main .personal-container .person-two .personal-info {
  background-color: #275fcf;
  width: 40em;
  height: auto;
}

main .personal-container .person-one .personal-bar, main .personal-container .person-two .personal-bar {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #b84ca6;
  width: 100em;
  height: 5%;
}

main .personal-container .person-one {
  background-color: #1b2b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10% 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .personal-container .person-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% 0 0 0;
  background-color: #394f7a;
}

/* ************************************* */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* *************** MAIN ******************* */
main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0 5em 0 5em;
  /* PERSONAL JESUS */
  /* FOOTER */
}

main .personal-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #61dafb;
}

main .personal-container .logotype {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: pink;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: solid;
  border-color: #1f5cd6;
}
/*# sourceMappingURL=App.css.map */